@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    vertical-align: center;
    align-content: center;
    margin: 10% 30%;
    width: 550px;
    height: 550px;
}

.nav {
    padding: 0;
    margin: 0;
    height: 90px;
    width: 550px;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f6f9;
}

.nav .dark {
    background: #21222A;
}

.nav-image-keeper {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #61DAFB;
}

.nav-image-keeper img {
    width: 40px;
    height: 40px;
    margin-right: 2px;
}

.nav-toggler {
    margin-top: 20px;
    margin-right: 30px;
    display: inline-flex;
    margin-left: 385px;
}
/*toggler for dark mode*/

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 14px;
    font-weight: 600;
}

.toggler-slider {
    width: 40px;
    height: 20px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

.dark .toggler-slider {
    background-color: #F5F5F5;
    border: 1px solid #918E9B;
}

.toggler-slider-circle {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}

.dark .toggler-slider-circle {
    background-color: black;
}

.toggler-light {
    color: #2B283A;
}

.dark .toggler-light {
    color: #918E9B;
}

.toggler-dark {
    color: #D5D4D8;
}

.dark .toggler-dark {
    color: #FFFFFF;
}

.dark .toggler-slider {
    justify-content: flex-end;
}


.main {
    height: 460px;
    width: 550px;
    position: absolute;
    color: #2B283A;
    background-color: #f5f6f9;
}

.dark {
    background: #282D35;
    color: white;
}


.main-wrapper {
    margin-left: 40px;
    margin-top: 40px;
}

.main-wrapper h1 {
    font-weight: 900;
    letter-spacing: 1px;
}

.main-wrapper ul {
    font-size: larger;
    margin-top: 20px;
    list-style: none;
    position: absolute;
}

.main-wrapper ul .dark{
    color: #DEEBF8;
}

.main-wrapper ul li::before {
    content: "\2022";
    color: #61DAFB;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.main-wrapper ul > li:not(:last-child) {
    margin-bottom: 20px;
}

.main-layer {
    position: absolute;
    right: 0;
    bottom: 120px;
}
